<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <a th:href="@{/postWrite}">
        <button type="button" class="btn btn-secondary">글쓰기</button>
    </a>
    <table class="table">
        <thead class="bg-gray-100">
        <tr>
            <th scope="col" class="text-secondary text-xs font-weight-semibold opacity-7 border-light">제목</th>
            <th scope="col" class="text-secondary text-xs font-weight-semibold opacity-7 border-light ps-2">작성자</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>