<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <th:block th:replace="~{/fragment/import :: bootstrapImport}"></th:block>
    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>

<body>
    <a th:href="@{/postWrite}">
        <button id="postWrite" type="button" class="btn btn-secondary">글쓰기</button>
    </a>
    <table class="table">
        <thead class="bg-gray-100">
        <tr>
            <th scope="col" class="text-secondary text-xs font-weight-semibold opacity-7 border-light">제목</th>
            <th scope="col" class="text-secondary text-xs font-weight-semibold opacity-7 border-light ps-2">작성자</th>
        </tr>
        </thead>
        <tbody id="postListTBody">
        </tbody>
    </table>
</body>
</html>
