<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/fragment/import :: bootstrapImport}"></th:block>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div class="card card-frame" style="width: 20vw; height: 40vh;">
            <div class="card-body shadow-sm border border-radius-sm"
                 style="display: flex; justify-content: center; align-items: center;">
                <form th:action="@{/login}" th:method="POST"
                      style="display: flex; flex-direction: column; align-items: center;">
                    <h3>Login</h3>
                    <label for="id" class="input-group">
                        <input id="id" name="id" placeholder="아이디 입력" style="margin-top: 1vh;">
                    </label>
                    <label for="pw" class="input-group">
                        <input id="pw" name="pw" placeholder="비밀번호 입력" style="margin-top: 3vh;">
                    </label>
                    <button type="submit" id="loginBtn" class="btn btn-outline-secondary"
                            style="margin-top: 3vh;">
                        로그인 / 회원가입
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>