<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/fragment/import :: bootstrapImport}"></th:block>
    <script th:src="@{/js/utils.js}"></script>
</head>
<body>
    <form th:action="@{/postWrite}" th:method="POST">
        <input type="hidden" th:field="${post.id}">
        <input type="hidden" th:field="${post.createTime}" th:if="${post.id}">
        <input th:field="${post.writer}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" th:field="${post.title}"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea type="text" class="form-control" th:field="${post.content}"
                          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                style="height:100vh;"></textarea>
            </div>
        </div>
        <button id="submitBtn" type="submit">완료</button>
    </form>
</body>
</html>