<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/fragment/import :: bootstrapImport}"></th:block>
    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/postWrite.js}"></script>
</head>
<body>
    <input id="id" type="hidden" th:value="${post.id}">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-text" id="title">Title</span>
            <input type="text" class="form-control" th:value="${post.title}"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-text" id="content">Content</span>
            <textarea type="text" class="form-control" th:value="${post.content}"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
            style="height:100vh;"></textarea>
        </div>
    </div>
    <button id="submitBtn" type="button">완료</button>
</body>
</html>